[submodule "docmind-frontend"]
	path = docmind-frontend
	url = https://github.com/yeagx/docmind-frontend.git
[submodule "DocMind"]
	path = docmind-mobile
	url = https://github.com/AhmedAboelnaga004/docmind-mobile
[submodule "my-mini-rag"]
	path = docmind-ai
	url = https://github.com/mohamedAY2004/my-mini-rag
